In [40]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
import numpy as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
base_census = pd.read_csv('/content/drive/MyDrive/Projetos/ML/Census and Base_credit/census.csv')

In [5]:
base_census.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [6]:
base_census.describe()

                age  final-weight  ...  capital-loos  hour-per-week
count  32561.000000  3.256100e+04  ...  32561.000000   32561.000000
mean      38.581647  1.897784e+05  ...     87.303830      40.437456
std       13.640433  1.055500e+05  ...    402.960219      12.347429
min       17.000000  1.228500e+04  ...      0.000000       1.000000
25%       28.000000  1.178270e+05  ...      0.000000      40.000000
50%       37.000000  1.783560e+05  ...      0.000000      40.000000
75%       48.000000  2.370510e+05  ...      0.000000      45.000000
max       90.000000  1.484705e+06  ...   4356.000000      99.000000

[8 rows x 6 columns]

In [12]:
X_census = base_census.iloc[:, 0:14]

In [13]:
X_census

       age          workclass  ...  hour-per-week  native-country
0       39          State-gov  ...             40   United-States
1       50   Self-emp-not-inc  ...             13   United-States
2       38            Private  ...             40   United-States
3       53            Private  ...             40   United-States
4       28            Private  ...             40            Cuba
...    ...                ...  ...            ...             ...
32556   27            Private  ...             38   United-States
32557   40            Private  ...             40   United-States
32558   58            Private  ...             40   United-States
32559   22            Private  ...             20   United-States
32560   52       Self-emp-inc  ...             40   United-States

[32561 rows x 14 columns]

In [14]:
y_census = base_census.iloc[: , 14]

In [15]:
y_census

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
32556     <=50K
32557      >50K
32558     <=50K
32559     <=50K
32560      >50K
Name: income, Length: 32561, dtype: object

In [16]:
le = LabelEncoder()

In [19]:
X_census.apply(le.fit_transform)

       age  workclass  ...  hour-per-week  native-country
0       22          7  ...             39              39
1       33          6  ...             12              39
2       21          4  ...             39              39
3       36          4  ...             39              39
4       11          4  ...             39               5
...    ...        ...  ...            ...             ...
32556   10          4  ...             37              39
32557   23          4  ...             39              39
32558   41          4  ...             39              39
32559    5          4  ...             19              39
32560   35          5  ...             39              39

[32561 rows x 14 columns]

In [30]:
ohe = ColumnTransformer(transformers=[('OneHot', OneHotEncoder(), [1,3,5,6,7,8,9,13])], remainder='passthrough')

In [31]:
X_census = ohe.fit_transform(X_census).toarray()

In [32]:
X_census

array([[0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 2.1740e+03, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        1.3000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        4.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        2.0000e+01],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.5024e+04, 0.0000e+00,
        4.0000e+01]])

In [33]:
X_census.shape

(32561, 108)

In [35]:
GB = GaussianNB()

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X_census, y_census, test_size = 0.3, random_state=0)

In [38]:
y_predict = GB.fit(X_train, y_train).predict(X_test)

In [41]:
accuracy_score(y_test, y_predict)

0.7974204115057836

In [42]:
confusion_matrix(y_test, y_predict)

array([[7041,  366],
       [1613,  749]])